/* line 9, ../compass/global.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../compass/global.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Merriweather", serif;
  color: #343434;
}

/* line 22, ../compass/global.scss */
h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 28, ../compass/global.scss */
h1 {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 10px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 37, ../compass/global.scss */
h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 75px;
  height: 1px;
  background-color: #343434;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 51, ../compass/global.scss */
h2 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* line 58, ../compass/global.scss */
h5 {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

/* line 64, ../compass/global.scss */
form {
  text-align: center;
}

/* line 68, ../compass/global.scss */
label {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 74, ../compass/global.scss */
input {
  padding: 10px 25px;
  border: 1px solid #6d6d6d;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 79, ../compass/global.scss */
input:focus {
  outline: none;
  border-color: #cccccc;
}

/* line 85, ../compass/global.scss */
select {
  display: inline-block;
  min-height: 20px;
  padding: 10px 25px;
  border: 1px solid #6d6d6d;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 92, ../compass/global.scss */
select:hover, select:focus {
  border-color: #cccccc;
  outline: 0;
}
/* line 97, ../compass/global.scss */
select option {
  border-color: #6d6d6d;
}

/* line 103, ../compass/global.scss */
.table > thead {
  font-size: 14px;
  font-weight: 600;
}
/* line 107, ../compass/global.scss */
.table > thead > tr > td {
  vertical-align: middle;
}
/* line 114, ../compass/global.scss */
.table > tbody > tr > td {
  vertical-align: middle;
}

/* line 123, ../compass/global.scss */
a {
  display: block;
  text-decoration: underline;
}
/* line 127, ../compass/global.scss */
a:hover, a:focus, a:visited {
  color: #6d6d6d;
  text-decoration: none;
}

/* line 133, ../compass/global.scss */
.bottom-link {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 138, ../compass/global.scss */
.btn {
  margin-top: 25px;
  border-radius: 0px;
  border-color: #6d6d6d;
  transition: all 300ms ease-in-out;
}
/* line 144, ../compass/global.scss */
.btn:hover, .btn:focus {
  color: #6d6d6d;
  border-color: #cccccc;
  background-color: transparent;
}

/* line 151, ../compass/global.scss */
.small {
  font-size: 85%;
}

/* line 155, ../compass/global.scss */
.text-italic {
  font-style: italic;
}

/*------------------------------------*\
    #SIGN-IN
\*------------------------------------*/
/* line 162, ../compass/global.scss */
.sign-in {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 167, ../compass/global.scss */
.sign-in .sign-in-block {
  display: table-cell;
  vertical-align: middle;
}
/* line 171, ../compass/global.scss */
.sign-in .sign-in-block h5 {
  margin-top: -75px;
}

/*------------------------------------*\
    #ACCUEIL-ETUDIANT
\*------------------------------------*/
/* line 180, ../compass/global.scss */
.etudiant {
  margin-top: 50px;
}
/* line 184, ../compass/global.scss */
.etudiant .etudiant-block h1 {
  text-transform: none;
}
/* line 187, ../compass/global.scss */
.etudiant .etudiant-block .table input {
  text-align: center;
  width: 75px;
  margin-right: 15px;
}

/*------------------------------------*\
    #ACCUEIL-ENSEIGNANT
\*------------------------------------*/
/* line 199, ../compass/global.scss */
.enseignant {
  margin-top: 50px;
}
/* line 202, ../compass/global.scss */
.enseignant label {
  display: inline-block;
  margin-right: 25px;
}
/* line 208, ../compass/global.scss */
.enseignant .enseignant-block .btn {
  padding: 10px 25px;
  margin-top: 0;
  margin-left: 25px;
}
/* line 214, ../compass/global.scss */
.enseignant .enseignant-block #etudiant,
.enseignant .enseignant-block #promotion,
.enseignant .enseignant-block #controle {
  margin-top: 25px;
}
/* line 219, ../compass/global.scss */
.enseignant .enseignant-block #etudiant input,
.enseignant .enseignant-block #promotion input,
.enseignant .enseignant-block #controle input {
  display: inline-block;
  width: 50px;
  padding: 5px;
  margin-right: 5px;
  text-align: center;
}

/*------------------------------------*\
    #SINGLE-ETUDIANT
\*------------------------------------*/
/* line 233, ../compass/global.scss */
.buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
/* line 241, ../compass/global.scss */
.buttons li {
  display: inline-block;
  margin-right: 15px;
}
/* line 245, ../compass/global.scss */
.buttons li:last-child {
  margin-right: 0;
}
/* line 249, ../compass/global.scss */
.buttons li a {
  text-decoration: none;
}

/* line 256, ../compass/global.scss */
#add-notes-block input {
  text-align: center;
}
