/* line 9, ../compass/global.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../compass/global.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Merriweather", serif;
  color: #343434;
}

/* line 22, ../compass/global.scss */
h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 28, ../compass/global.scss */
h1 {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 10px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 37, ../compass/global.scss */
h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 75px;
  height: 1px;
  background-color: #343434;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 51, ../compass/global.scss */
h2 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* line 58, ../compass/global.scss */
h5 {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

/* line 64, ../compass/global.scss */
form {
  text-align: center;
}

/* line 68, ../compass/global.scss */
label {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 74, ../compass/global.scss */
input {
  padding: 10px 25px;
  border: 1px solid #9d9d9d;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 79, ../compass/global.scss */
input:hover, input:focus {
  outline: none;
  border-color: #6d6d6d;
}
/* line 84, ../compass/global.scss */
input:focus {
  -moz-box-shadow: 0 0 4px 0 rgba(102, 102, 102, 0.6);
  -webkit-box-shadow: 0 0 4px 0 rgba(102, 102, 102, 0.6);
  box-shadow: 0 0 4px 0 rgba(102, 102, 102, 0.6);
}

/* line 89, ../compass/global.scss */
select {
  display: inline-block;
  min-height: 20px;
  padding: 10px 25px;
  border: 1px solid #9d9d9d;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 96, ../compass/global.scss */
select:hover, select:focus {
  border-color: #6d6d6d;
  outline: 0;
}
/* line 101, ../compass/global.scss */
select option {
  border-color: #9d9d9d;
}

/* line 107, ../compass/global.scss */
.table > thead {
  font-size: 14px;
  font-weight: 600;
}
/* line 111, ../compass/global.scss */
.table > thead > tr > td {
  vertical-align: middle;
}
/* line 118, ../compass/global.scss */
.table > tbody > tr > td {
  vertical-align: middle;
}

/* line 127, ../compass/global.scss */
a {
  display: block;
  color: #9d9d9d !important;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 132, ../compass/global.scss */
a:hover, a:focus {
  color: #6d6d6d !important;
  text-decoration: none;
}

/* line 138, ../compass/global.scss */
.bottom-link {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 143, ../compass/global.scss */
.btn {
  margin-top: 25px;
  border-radius: 0px;
  border-color: #9d9d9d;
  transition: all 300ms ease-in-out;
}
/* line 149, ../compass/global.scss */
.btn:hover, .btn:focus {
  color: #9d9d9d;
  border-color: #6d6d6d;
  background-color: transparent;
}

/* line 156, ../compass/global.scss */
.small {
  font-size: 85%;
}

/* line 160, ../compass/global.scss */
.text-italic {
  font-style: italic;
}

/* line 164, ../compass/global.scss */
::-webkit-input-placeholder {
  color: #9d9d9d;
  font-style: italic;
}

/* line 169, ../compass/global.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #9d9d9d;
  font-style: italic;
}

/* line 174, ../compass/global.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #9d9d9d;
  font-style: italic;
}

/* line 179, ../compass/global.scss */
:-ms-input-placeholder {
  color: #9d9d9d;
  font-style: italic;
}

/* line 184, ../compass/global.scss */
.error {
  color: red;
}

/*------------------------------------*\
    #SIGN-IN
\*------------------------------------*/
/* line 191, ../compass/global.scss */
.sign-in {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 196, ../compass/global.scss */
.sign-in .sign-in-block {
  display: table-cell;
  vertical-align: middle;
}
/* line 200, ../compass/global.scss */
.sign-in .sign-in-block h5 {
  margin-top: -75px;
}

/*------------------------------------*\
    #ACCUEIL-ETUDIANT
\*------------------------------------*/
/* line 209, ../compass/global.scss */
.etudiant {
  margin-top: 50px;
}
/* line 213, ../compass/global.scss */
.etudiant .etudiant-block h1 {
  text-transform: none;
}
/* line 216, ../compass/global.scss */
.etudiant .etudiant-block .table input {
  text-align: center;
  width: 75px;
  margin-right: 15px;
}

/*------------------------------------*\
    #ACCUEIL-ENSEIGNANT
\*------------------------------------*/
/* line 228, ../compass/global.scss */
.enseignant {
  margin-top: 50px;
}
/* line 231, ../compass/global.scss */
.enseignant label {
  display: inline-block;
  margin-right: 25px;
}
/* line 237, ../compass/global.scss */
.enseignant .enseignant-block .btn {
  padding: 10px 25px;
  margin-top: 0;
  margin-left: 25px;
}
/* line 243, ../compass/global.scss */
.enseignant .enseignant-block #etudiant,
.enseignant .enseignant-block #classe,
.enseignant .enseignant-block #controle {
  margin-top: 25px;
}
/* line 248, ../compass/global.scss */
.enseignant .enseignant-block #etudiant input,
.enseignant .enseignant-block #classe input,
.enseignant .enseignant-block #controle input {
  display: inline-block;
  width: 50px;
  padding: 5px;
  margin-right: 5px;
  text-align: center;
}

/*------------------------------------*\
    #ACCUEIL-ADMIN
\*------------------------------------*/
/* line 262, ../compass/global.scss */
.admin {
  margin-top: 50px;
}

/*------------------------------------*\
    #SUB-PAGES FOR ADMIN
\*------------------------------------*/
/* line 272, ../compass/global.scss */
.add-etudiant label,
.add-enseignant label,
.add-module label {
  margin-top: 0;
  text-align: right;
}

.add-etudiant input,
.add-enseignant input,
.add-module input {
  width: 100%;
}

.add-etudiant select,
.add-enseignant select,
.add-module select {
  width: 50%;
  float: left;
}

.add-etudiant input.btn,
.add-enseignant input.btn,
.add-module input.btn {
  display: inline-block;
  width: 150px;
  margin-right: 15px;
  background-color: transparent;
  color: #9d9d9d;
  border-color: #9d9d9d;
}
<<<<<<< HEAD
.add-etudiant input.btn:hover, .add-etudiant input.btn:focus,
.add-enseignant input.btn:hover,
.add-enseignant input.btn:focus,
.add-module input.btn:hover,
.add-module input.btn:focus {
  color: #6d6d6d;
  border-color: #6d6d6d;
}

.add-etudiant input.btn:last-child,
.add-enseignant input.btn:last-child,
.add-module input.btn:last-child {
  margin-right: 0;
}

/*------------------------------------*\
    #SINGLE-ETUDIANT
\*------------------------------------*/

.buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.buttons li {
  display: inline-block;
  margin-right: 15px;
}

/* line 323, ../compass/global.scss */
=======
/* line 320, ../compass/global.scss */
.buttons li:last-child {
  margin-right: 0;
}
/* line 324, ../compass/global.scss */
>>>>>>> S4nG0
.buttons li a {
  text-decoration: none;
}


#add-notes-block input {
  text-align: center;
}

/*------------------------------------*\
    #OFFCANVAS MENU
\*------------------------------------*/

h3 {
  font-size: 22px;
  line-height: 22px;
  padding: 15px;
}


.navbar-toggle {
  float: left;
  margin-left: 15px;
  padding: 10px 15px;
  color: #9d9d9d;
  background-color: transparent;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* line 356, ../compass/global.scss */
=======
/* line 353, ../compass/global.scss */
.navbar-toggle span {
  text-transform: uppercase;
}
/* line 357, ../compass/global.scss */
>>>>>>> S4nG0
.navbar-toggle:hover, .navbar-toggle:focus {
  color: #6d6d6d;
  background-color: transparent !important;
  border-color: #6d6d6d;
}

@media (min-width: 0) {

  .navbar-toggle {
    display: block;
    /* force showing the toggle */
  }
}
@media (min-width: 992px) {

  body {
    padding: 0;
  }


  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}
@media screen and (max-width: 768px) {

  .add-etudiant input.btn {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }

  .add-etudiant input.btn:last-child {
    margin-right: auto;
  }
}
